@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html {
  background: #c4c4c4;
  width: 100vw !important;
  min-height: 100vh !important;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
}
